$bg: #fafafa;
$white: #ffff;
$pink:#d04a4e;
$u-m-blue:#2562d1;
$purple:#7153c6;
$yellow:#fac52e;

$menu_title:#777778;
$line:#c9cacc;
$small-line:#757575;
$title2-bgd:#c0ebfb;
$footer-color:#435da0;

$break-small: 900px;
$break-large: 901px;

